---
import About from "@/components/events/wtm-26/About.astro"
import Header from "@/components/events/wtm-26/Header.astro"
import Hero from "@/components/events/wtm-26/Hero.astro"

import BaseLayout from "@/layout/BaseLayout.astro"
---

<BaseLayout title="Women Techmakers Sucre 2026 - Break the Pattern" theme="dark">
  <Header />
  <main class="flex-1 bg-[#232323]">
    <Hero />
    <About />
  </main>
  <!-- <Footer /> Coming soon -->
</BaseLayout>
