---
import PackageCodeLabNew from "@/assets/io-extended-25/packages/codelab-soul-out.webp"
import PackageInnovators from "@/assets/io-extended-25/packages/innovators-package.webp"
import PackageWebVerse from "@/assets/io-extended-25/packages/webverse-package.webp"

import PackageCard from "./PackageCard.astro"
---

<section id="seccion-paquetes" class="flex w-full lg:mt-28 lg:py-4 relative z-10">
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-12 mx-auto lg:items-end">
    <div class="order-3 lg:order-first">
      <PackageCard
        title="Paquete WebVerse"
        benefits={["Refrigerio", "Almuerzo", "Stickers"]}
        imageSrc={PackageWebVerse}
        imageAlt="Paquete WebVerse"
        price="Bs 35"
      />
    </div>

    <!-- Middle Card - Higher Position -->
    <div class="order-1 lg:pb-16">
      <PackageCard
        title="Paquete Innovators"
        benefits={["Refrigerio", "Almuerzo", "Stickers", "Mousepad", "Estuche", "Cubo"]}
        imageSrc={PackageInnovators}
        imageAlt="Paquete Innovators"
        price="Bs 80"
      />
    </div>

    
    <!-- Right Card - Lower Position -->
    <div class="order-2 lg:order-last">
      <PackageCard
        title="Paquete CodeLab"
        benefits={["Refrigerio", "Almuerzo", "Stickers", "Mousepad"]}
        imageSrc={PackageCodeLabNew}
        imageAlt="Paquete CodeLab"
        price="Bs 50"
      />
    </div>
  </div>
</section>
