---
export interface Props {
  start: string
  end: string
  title: string
}

const { start, end, title }: Props = Astro.props
---

<div
  class="flex flex-col justify-center items-center py-3.5 px-6 md:px-4 rounded-full border-black border-5 w-full md:w-[484px]"
>
  <p class="text-2xl font-bold text-blue-500 text-center">
    <span>{start}</span> - <span>{end}</span>
  </p>
  <p class="text-2xl md:text-4xl text-[#202124] text-center font-bold">
    {title.toLocaleUpperCase()}
  </p>
</div>
