.booking-calendar {
  height: 400px;
}

@media (max-width: 375px) {
  .booking-calendar .rbc-row-content .rbc-date-cell {
    font-size: 0.75rem;
  }

  .booking-calendar .rbc-event,
  .booking-calendar .rbc-day-slot .rbc-event {
    font-size: 0;
  }
}

@media (min-width: 640px) {
  .booking-calendar {
    height: 500px;
  }
}

.booking-calendar .rbc-calendar,
.booking-calendar .rbc-month-view,
.booking-calendar .rbc-header,
.booking-calendar .rbc-day-bg,
.booking-calendar .rbc-month-row,
.booking-calendar .rbc-date-cell,
.booking-calendar .rbc-btn-group,
.booking-calendar .rbc-toolbar {
  background: transparent;
}

.booking-calendar .rbc-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.booking-calendar .rbc-toolbar {
  display: none;
}

.booking-calendar .rbc-header,
.booking-calendar .rbc-month-row,
.booking-calendar .rbc-day-bg,
.booking-calendar .rbc-month-view {
  border-color: var(--color-white);
}

.booking-calendar .rbc-month-view .rbc-row-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.booking-calendar .rbc-month-view .rbc-row-content > .rbc-row:first-child {
  flex: 1;
  display: flex;
}

.booking-calendar .rbc-row-content .rbc-date-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-calendar .rbc-row-content .rbc-date-cell .rbc-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  pointer-events: none;
}

.booking-calendar .rbc-button-link,
.booking-calendar .rbc-toolbar-label,
.booking-calendar .rbc-month-header,
.booking-calendar .rbc-header {
  color: rgba(255, 255, 255, 0.92);
}

.booking-calendar .rbc-off-range .rbc-button-link,
.booking-calendar .rbc-off-range .rbc-date-cell {
  color: rgba(255, 255, 255, 0.25);
}

.booking-calendar .rbc-today {
  background-color: var(--color-red-500);
}

.booking-calendar .rbc-event,
.booking-calendar .rbc-day-slot .rbc-event {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 0.75rem;
}

.booking-calendar .rbc-selected-cell {
  background-color: var(--color-red-950);
}

.booking-calendar__toolbar {
  position: relative;
  z-index: 1;
}
