---
import DevFest25Logo from "@/assets/events/devfest-25/DevFest25logo.svg"
import UserSignIn from "@/assets/icons/social/user-round-plus.svg"

import Avatar from "@/components/Avatar.astro"

const refreshToken = Astro.cookies.has("sb-refresh-token")

const navLinks = [
  { name: "Sobre el evento", href: "/#about" },
  { name: "Speakers", href: "/#speakers" },
]
---

<nav class="w-full h-20 px-4 bg-black flex items-center justify-between fixed top-0 left-0 z-50">
  <a href="/#" class="flex items-center w-32 md:w-44 order-1">
    <DevFest25Logo/>
  </a>

  <div class="flex items-center gap-4 h-12 order-last">
    {refreshToken ? (
      <Avatar eventSlug="devfest-25" />
    ) : (
      <a href="/api/auth/signin" class="hidden md:inline bg-linear-to-b text-white bg-red-500 font-medium px-4 py-2 rounded-full">
        Iniciar Sesión
      </a>

      <a
        href="/api/auth/signin"
        class="md:hidden grid place-items-center size-12 rounded-full"
        aria-label="Iniciar sesión"
      >
        <UserSignIn class="w-8 h-8 text-white" />
      </a>
    )}

    <button id="menu-toggle" class="md:hidden border rounded" aria-label="Abrir menú">
      <svg class="size-6 dark:stroke-white" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>

  <div id="mobile-menu" class="hidden absolute top-full left-0 w-full dark:bg-black md:order-2 md:static md:flex md:mx-auto md:w-fit">
    <ul class="flex flex-col gap-4 p-4 md:flex-row md:p-0">
      {navLinks.map(link => (
        <li class="font-semibold">
          <a href={link.href}>
            {link.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>


<script>
  const menuToggle = document.getElementById("menu-toggle")
  const mobileMenu = document.getElementById("mobile-menu")

  menuToggle?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden")
  })
</script>
