---
import EndEventIcon from "@/assets/events/devfest-25/end_event.svg"
import FoodIcon from "@/assets/events/devfest-25/food.svg"
import LightbulbIcon from "@/assets/events/devfest-25/lightbulb.svg"
import ScheduleCard from "@/components/devfest-25/schedule/ScheduleCard.astro"
import scheduleData from "@/components/devfest-25/schedule/schedule.json"

const icons = {
  food: FoodIcon,
  lightbulb: LightbulbIcon,
  end_event: EndEventIcon,
}
---

<section
  id="schedule"
  class="relative mx-auto my-8 flex max-w-7xl flex-col items-center justify-center gap-8 px-4 md:my-12 md:gap-12"
>
  <h2 class="text-center text-3xl font-bold text-white md:text-4xl lg:text-6xl">
    Event Agenda
  </h2>

  <div class="relative w-full max-w-6xl">
    <div class="flex flex-col gap-4 md:gap-6 lg:gap-8">
      {
        scheduleData.map((event, index) => {
          const Icon = icons[event.icon as keyof typeof icons];
          const isEven = index % 2 === 0;
          const isLast = index === scheduleData.length - 1;
          return (
            <div
              class:list={[
                "flex flex-row items-stretch gap-3 relative lg:gap-6",
                { "lg:flex-row-reverse": !isEven },
              ]}
            >
              <div class="hidden lg:flex lg:flex-1" />
              <div class="relative flex w-8 shrink-0 flex-col items-center">
                <div class="relative z-10 flex h-8 w-8 shrink-0 items-center justify-center">
                  <Icon class="h-8 w-8" />
                </div>
                {!isLast && <div class="w-0.5 grow bg-[#878585]" />}
              </div>
              <div class="w-full flex-1 py-1 lg:w-auto">
                <ScheduleCard
                  type={event.type as "talk" | "event"}
                  time={event.time}
                  title={event.title}
                  description={event.description}
                  speaker={event.speaker}
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
