:root {
  --pointer-x: 50%;
  --pointer-y: 50%;
  --pointer-from-center: 0;
  --pointer-from-top: 0.5;
  --pointer-from-left: 0.5;
  --card-opacity: 0;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --background-x: 50%;
  --background-y: 50%;
  --grain: none;
  --icon: none;
  --behind-gradient: none;
  --inner-gradient: none;
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
  --card-radius: 30px;
}

.pc-card::before {
  content: none !important;
  display: none !important;
}

.pc-card {
  height: 80svh;
  max-height: 540px;
  display: grid;
  aspect-ratio: 0.6275;
  position: relative;
  border-radius: var(--card-radius);
  background-blend-mode: normal !important;
  animation: none !important;
  border: 2px solid #ea4335;
  box-shadow: rgba(0, 0, 0, 0.35) 0 6px 20px;
  transform: perspective(600px) translateZ(0);
  transition: transform 600ms cubic-bezier(0.2, 0.8, 0.2, 1);
  will-change: transform;
  background-size: 100% 100%;
  background-position:
    0 0,
    0 0,
    50% 50%,
    0 0;
}

.pc-card:hover,
.pc-card.active {
  transform: perspective(600px) rotateX(var(--rotate-y)) rotateY(var(--rotate-x));
}

.pc-card:hover::before,
.pc-card.active::before {
  opacity: 0 !important;
}

.pc-card * {
  display: grid;
  grid-area: 1 / -1;
  border-radius: var(--card-radius);
  transform: none !important;
  pointer-events: none;
}

.pc-inside {
  inset: 0;
  position: absolute;
  background-image: var(--inner-gradient);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 1;
}

.pc-content {
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  transform: none !important;
  z-index: 1;
}
