---
import Header from "@/components/Header.astro"
import { RegistrationsTable } from "@/components/registration/RegistrationsTable"
import BaseLayout from "@/layout/BaseLayout.astro"
import { getProfile } from "@/lib/services/profileService"
import { createUserClient } from "@/lib/supabase"

const supabase = await createUserClient(Astro.cookies)
const profile = await getProfile(supabase)

if (!profile?.is_admin) {
  Astro.redirect("/")
}
---

<BaseLayout>
  <Header />
  <main class="mt-20 p-4 lg:p-8">
    <RegistrationsTable client:visible />
  </main>
</BaseLayout>
