---
import About from "@/components/events/devfest-25/About.astro"
import Footer from "@/components/events/devfest-25/Footer.astro"
import Header from "@/components/events/devfest-25/Header.astro"
import Hero from "@/components/events/devfest-25/Hero.astro"
import Speaker from "@/components/events/devfest-25/speaker/speaker.astro"
import BaseLayout from "../layout/BaseLayout.astro"
---

<BaseLayout theme="dark">
  <Header />
  <main class="flex-1">
    <Hero />
    <About />
    <Speaker />
  </main>
  <Footer />
</BaseLayout>
