---
import BaseLayout from "../layout/BaseLayout.astro"

import Header from "@/components/Header.astro"
import About from "@/components/io-extended-25/About.astro"

import Footer from "@/components/io-extended-25/Footer.astro"
import Hero from "@/components/io-extended-25/Hero.astro"
import PackageSection from "@/components/io-extended-25/PackageSection.astro"
import OrganizadoresSection from "@/components/io-extended-25/organizadores/organizadoresSection"
import SpeakersSection from "@/components/io-extended-25/speakers/SpeakersSection.astro"
---

<BaseLayout>
  <Header />
  <Hero />
  <PackageSection />
  <About />
  <SpeakersSection />

  <!-- Sección de Organizadores -->
  <div class="mt-8 md:mt-12 w-full">
    <OrganizadoresSection client:load />
  </div>
  <Footer />
</BaseLayout>
