---
import BaseLayout from "../layout/BaseLayout.astro"

import Hero from "@/components/io-extended-25/Hero.astro"
import Header from "../components/Header.astro"
---

<BaseLayout>
  <Header />
  <main class="h-32 grid place-items-center">
    <Hero />
  </main>
</BaseLayout>
