---
import BaseLayout from "../layout/BaseLayout.astro"

import Header from "../components/Header.astro"
---

<BaseLayout>
  <Header />
  <main class="h-32 grid place-items-center">
    <h1 class="text-2xl">Google Developer Group Sucre</h1>
  </main>
</BaseLayout>
