---
import BaseLayout from "../layout/BaseLayout.astro"

import Header from "@/components/events/devfest-25/Header.astro"
import Hero from "@/components/events/devfest-25/Hero.astro"
---

<BaseLayout theme="dark">
  <div>
    <Header />
    <Hero />
  </div>
</BaseLayout>
