---
import { hasRegistration } from "@/lib/services/registrationService"
import { createUserClient } from "@/lib/supabase"

const accessToken = Astro.cookies.get("sb-access-token")?.value
let redirectHref = accessToken ? "/registro/iwd-26" : "/api/auth/signin?next=/registro/iwd-26"

let registration = false
if (accessToken) {
  const supabase = await createUserClient(Astro.cookies)
  const {
    data: { claims },
  } = await supabase.auth.getClaims(accessToken)
  registration = await hasRegistration(supabase, claims?.sub, "iwd-26")
  redirectHref = "/registro/iwd-26/confirmado"
}
---

<a href={redirectHref} class="block w-full h-full">
  {registration ? "Ver mi registro" : <slot />}
</a>
