---
import { hasRegistration } from "@/lib/services/registrationService"
import { createUserClient } from "@/lib/supabase"

const { eventSlug } = Astro.props

const accessToken = Astro.cookies.get("sb-access-token")?.value
let redirectHref = accessToken
  ? `/registro/${eventSlug}`
  : `/api/auth/signin?next=/registro/${eventSlug}`

let registration = false
if (accessToken) {
  const supabase = await createUserClient(Astro.cookies)
  const {
    data: { claims },
  } = await supabase.auth.getClaims(accessToken)
  registration = await hasRegistration(supabase, claims?.sub, eventSlug)
  if (registration) {
    redirectHref = `/registro/${eventSlug}/confirmado`
  }
}
---

<a href={redirectHref} class="block w-full h-full">
  {registration ? "Ver mi registro" : "Regístrate ahora"}
</a>
