---
import GdgSucreLogo from "../assets/logos/GDGSucreLogo.astro"
import SocialIcons from "./SocialIcons.astro"
---

<footer class='w-full border-t-2 bg-gray dark:bg-black lg:mt-12'>
  <div class='mx-auto max-w-screen-2xl p-4 pt-6 lg:py-8'>
    <div class='flex flex-col space-y-4 font-medium lg:flex-row lg:space-y-0 justify-between'>
      <GdgSucreLogo />
      <SocialIcons />
    </div>
  </div>
</footer>
