---
import {Image} from "astro:assets"

import LogoHorizontal from "../assets/logos/LogoHorizontal.png"
---

<nav class="flex justify-center p-1 border-b border-white">
  <div class="w-7xl">
    <Image src={LogoHorizontal} alt="Logo Horizontal" width={300}/>
  </div>
</nav>
