---
import brianImg from "@/assets/io-extended-25/speakers/Brian-Castillo.webp"
import carlosAlarconImg from "@/assets/io-extended-25/speakers/Carlos-Alarcon.webp"
import carlosImg from "@/assets/io-extended-25/speakers/Carlos-Collazos.webp"
import rodrigoImg from "@/assets/io-extended-25/speakers/Rodrigo-Torrico.webp"
import saraImg from "@/assets/io-extended-25/speakers/Sara-Salazar.webp"

import SpeakersCard from "./SpeakersCard.astro"

const speakersList = [
  {
    imgUrl: carlosAlarconImg,
    nombre: "Carlos Alarcón",
    googleExpert: true,
    topico: "Cloud, AI/ML",
    ubicacion: "Bogotá - Colombia",
  },

  {
    imgUrl: rodrigoImg,
    nombre: "Rodrigo Torrico",
    googleExpert: false,
    topico: "Desarrollo Web",
    ubicacion: "Cochabamba - BO",
  },
  {
    imgUrl: brianImg,
    nombre: "Brian Castillo",
    googleExpert: true,
    topico: "AI & Firebase",
    ubicacion: "Lima - Perú",
  },
  {
    imgUrl: saraImg,
    nombre: "Sara Salazar",
    googleExpert: false,
    topico: "AI & Cloud",
    ubicacion: "La Paz - BO",
  },
  {
    imgUrl: carlosImg,
    nombre: "Carlos Collazos",
    googleExpert: false,
    topico: "UX/UI",
    ubicacion: "Cochabamba - BO",
  },
]
---

<section id="speakers" class="flex flex-col items-center gap-4 w-full px-4 pb-16">
  <h2 class="text-3xl md:text-5xl font-bold text-black leading-tight text-center pb-4 md:pb-10">
    SPEAKERS
  </h2>

  <div class="w-full max-w-6xl">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 lg:gap-12 place-items-center"
    >
      {speakersList.map(speaker => <SpeakersCard {...speaker} />)}
    </div>
  </div>
</section>
