---
import Header from "@/components/Header.astro"
import BaseLayout from "@/layout/BaseLayout.astro"

import { getProfile } from "@/lib/services/profileService"
const profile = await getProfile()
if (!profile) {
  return Astro.redirect("/")
}
---

<BaseLayout>
  <Header />
  <main class="pt-12 flex">
    <div class="mx-auto">
      <h1 class="text-xl mb-4">¡Hola, {profile?.first_name}!</h1>
      <span>Estamos procesando tu registro, te informaremos cuando haya sido validado.</span>
    </div>
  </main>
</BaseLayout>
