<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Evento recibido! - <%= it.eventName %></title>
  </head>

  <body style="margin: 0; padding: 0; background-color: #f5f5f5; font-family: Arial, sans-serif">
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #f8f9fa;
      "
    >
      <div style="border-bottom: 1px solid #1e1e1e; padding: 10px 20px; text-align: center">
        <h3 style="font-size: 32px; font-weight: bold">
          Hola, <%= it.communityName %>
        </h2>
        <h3>¡Recibimos tu evento!</h3>
      </div>

      <div style="padding: 20px">
        <div style="padding: 20px; margin: 20px 0; border: 1px solid">
          <h4 style="font-size: 20px; margin: 0 0 15px 0; font-weight: 600">
            <%= it.eventName %>
          </h4>
          <p style="font-size: 16px; margin: 0;">
            Detalles:
          </p>
          <p style="font-size: 16px; color: #555; margin: 8px 0; line-height: 1.5">
            <strong style="color: #333">📅 Inicio:</strong> <%= it.startDatetime %>
          </p>
          <p style="font-size: 16px; color: #555; margin: 8px 0; line-height: 1.5">
            <strong style="color: #333">📅 Fin:</strong> <%= it.endDatetime %>
          </p>
          <p style="font-size: 16px; color: #555; margin: 8px 0; line-height: 1.5">
            <strong style="color: #333">📍 Modalidad:</strong> <%= it.format %>
          </p>
          <p style="font-size: 16px; color: #555; margin: 8px 0; line-height: 1.5">
            <strong style="color: #333">📍 Ubicación:</strong> <%= it.location %>
          </p>
          <p style="font-size: 16px; color: #555; margin: 8px 0; line-height: 1.5">
            <strong style="color: #333">🔗 Registro:</strong>
            <% if (it.registrationLink) { %>
              <a href="<%= it.registrationLink %>" style="color: #4285f4">
                <%= it.registrationLink %>
              </a>
            <% } else { %>
              <span style="color: #555">Por definir</span>
            <% } %>
          </p>
        </div>

        <div style="background: #ea433520;
          padding: 20px;
          margin: 24px 0;
          border: 1px solid #ea4335;
        ">
          <h4 style="color: #ea4335; margin: 0 0 15px 0; font-size: 17px">
            ¡Gracias por tu interés en sucre.tech!
          </h4>
          <p style="margin: 0; color: #333; font-size: 14px; line-height: 1.6">
            Tu evento será revisado por el equipo, te notificaremos cuando sea aprobado. <br />
            Si tienes alguna pregunta, no dudes en escribirnos.
          </p>
        </div>
      </div>

      <div
        style="
          background-color: #f8f9fa;
          padding: 25px 20px;
          border-top: 1px solid #1e1e1e;
          text-align: center;
        "
      >
        <div style="margin-bottom: 15px">
          <div style="display: inline-flex; align-items: center; justify-content: center">
            <div
              style="width: 8px; height: 8px; background: #4285f4; border-radius: 50%; margin: 0 3px"
            ></div>
            <div
              style="width: 8px; height: 8px; background: #ea4335; border-radius: 50%; margin: 0 3px"
            ></div>
            <div
              style="width: 8px; height: 8px; background: #fbbc05; border-radius: 50%; margin: 0 3px"
            ></div>
            <div
              style="width: 8px; height: 8px; background: #34a853; border-radius: 50%; margin: 0 3px"
            ></div>
          </div>
        </div>
        <h4 style="color: #333; margin: 0 0 5px 0; font-size: 16px">Google Developer Group Sucre</h4>
      </div>
    </div>
  </body>
</html>
