---
import "../styles/global.css"

const { theme, title = "Google Developer Group Sucre" } = Astro.props
---

<html lang="es" class={theme}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <ThemeScript /> -->

    <title>{title}</title>
    <meta name="description" content="Google Developer Group Sucre" />
  </head>

  <body class="min-h-screen flex flex-col font-google dark:bg-[#232323] dark:text-white">
    <slot />
  </body>
</html>
