---
import "../styles/global.css"
import ThemeScript from "../components/ThemeScript.astro"
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <ThemeScript />

    <title>Google Developer Group Sucre</title>
    <meta name="description" content="Google Developer Group Sucre" />
  </head>

  <body class="dark:bg-black dark:text-white font-google">
    <slot />
  </body>
</html>
