---
import "../styles/global.css"
import ThemeScript from "../components/ThemeScript.astro"
const { theme } = Astro.props
---

<html lang="es" class={`${theme} h-screen flex flex-col`}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <ThemeScript /> -->

    <title>Google Developer Group Sucre</title>
    <meta name="description" content="Google Developer Group Sucre" />
  </head>

  <body class="font-google bg-[#232323] text-white flex flex-col min-h-screen">
    <div class="flex-1">
      <slot />
    </div>
  </body>
</html>
